# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.LyricXml.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\Contributions\LyricXml\LyricXml\.idea\.idea.LyricXml.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
