# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LyricXml.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Contributions\LyricXml\.idea\.idea.LyricXml\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
